!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Double Down
    %link{ :rel => "stylesheet", :href => "styles.css", :type => "text/css"}
  %body
    #wrap
      #header
        #innerheader
          #title
            %h1 Double Down		  
            %h2 A blackjack Game
            
      #content
        #page
          #innerpage	
            #table
              = yield 
        #sidebar
          %ul
            %li
              %a{ :href => '/' } New Game
            -if !@busted then   
              %li			
                %a{ :href => '/hit' } Hit
              %li  
                %a{ :href => '/stay' } Stay
      
        .clear
      
      #footer
        %p 
          &copy; 2011. Sam Conroy. Design: 
          %a{ :href => 'http://www.spyka.net'} spyka

            
        
             