!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Double Down
    %link{ :rel => "stylesheet", :href => "/css/Slider.css", :type=>"text/css"}
    %link{ :rel => "stylesheet", :href => "/css/styles.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/css/superfish.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/css/superfish-vertical.css", :type => "text/css"}
    %script{ :src =>"/js/jquery.min.js"}    
    %script{ :src =>"/js/jquery-ui.min,js"} 
    %script{ :src => "/js/superfish.js"} 
    %script{ :src => "/js/script.js"}  

  
  %body
    #wrap
      #header
        #innerheader
          #title
            %h1 Double Down          
            %h2 A blackjack Game
            
      #content
        #page
          #innerpage    
            =yield
      
        .clear
      
      #footer
        %p 
          &copy; 2011 Adhesivemule Games
          

            
        
             