!!! 5
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Double Down
    %link{ :rel => "stylesheet", :type=>"text/css", :href=>"/Slider.css"}
    %link{ :rel => "stylesheet", :href => "/styles.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/superfish.css", :type => "text/css"}
    %link{ :rel => "stylesheet", :href => "/superfish-vertical.css", :type => "text/css"}
    %script{ :type =>"text/javascript", :src =>             "http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}  
    %script{ :src => "/js/jquery.tools.min.js"}  
    %script{ :type =>"text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"} 
    %script{ :src => "/js/superfish.js"}     
    %script{ :type =>"text/javascript", :src => "/js/script.js"}  
  
  %body
    #wrap
      #header
        #innerheader
          #title
            %h1 Double Down          
            %h2 A blackjack Game
            
      #content
        #page
          #innerpage    
            =yield
      
        .clear
      
      #footer
        %p 
          &copy; 2011 Adhesivemule Games
          

            
        
             