#left_column
  %ul{:class => "sf-menu sf-vertical"}
    %li
      %a{:href => "/table/100"} 100$ Buy In
    %li
      %a{:href => "/table/500"} 500$ Buy In    
  
#center
  %b Welcome to Double Down, A blackjack Game. To start click one of the tables to the left!
    

  

:javascript
   $(document).ready(function() { 
   $('ul.sf-menu').superfish(); 
   });