
.hand    
  -@dealerhand.cards.each do |card|
    %img(src = "/images/Cards/#{card.image}")

.playerhand
  -@playerhand.cards.each do |card|
    %img(src = "/images/Cards/#{card.image}")

.messages
  -if @dealerhand.count > 21 
    The Dealer Busted, You Won!
  -else  
    -if @playerhand.count > @dealerhand.count
      You Won!
    -else
      The Dealer Won.
    %a{ :href => "/table/#{@buy_in}"} Play again?    