/*
	global
*/
* {
	padding:0;
	margin:0;
}
body {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:1.0em;
	background-color:#333333;
	position:absolute;
	top: 10px;
	left:50px;
	padding:0;
	height:100%;
}

/*
	structure 
*/
div#wrap {
	min-height:100%;
	margin:0 auto;
	margin-top:40px; 
    /*box-shadow: 10px 10px 5px #1f1f1f;*/	
}
div#header {

    border-top:6px solid #414141;
	border-top-right-radius:10px;
	border-top-left-radius:60px;
	border-left:6px solid #414141;
	border-right:6px solid #414141;
	background-repeat:repeat-x;
	background-position:top left;
	height:149px;
	box-shadow: 10px 10px 5px #1f1f1f;*/
}
div#innerheader {
	border-top-left-radius:55px;
    background: rgb(169,3,41); 
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); 
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); 
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); 
    /* IE10+ */
    background: linear-gradient(-45deg, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); 
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#AE0000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height:149px;
}
div#title {
	background-repeat:no-repeat;
	background-position:top left;
	height:149px;
	padding-top:30px;
	padding-left:30px;
}
div#content {
	border-left:6px solid #414141;
	border-right:6px solid #414141;
	background-color:#AE0000;
	box-shadow: 10px 10px 5px #1f1f1f;
}
div#page {
	background-color:#ffffff;
	width:1000px;
	float:left;
    height;
	border-top-right-radius: 15px;	
	-moz-border-top-right-radius: 30x;
	border-top-left-radius: 20px;
	-moz-border-top-left-radius: 30x;
	border-bottom-left-radius: 5px;	
	-moz-border-bottom-right-radius: 10x;  
	border-bottom-right-radius: 15px;	
	-moz-border-bottom-right-radius: 10x;

}
div#innerpage {
	text-align:center;
	padding:0px;
}
#table {
    background: url('/images/blackjacktable12.png') no-repeat;
    background-size:100%;
    height:580px;
}

div#sidebar {
	width:200px;
	float:left;
	margin-top:50px;
}

/*
	nav
*/
#New_Game{
   position:absolute;
   top: 710px;
   left: 750px;
}   
#Hit_Stay{
    position:absolute;
    top:710px;
    left:850px;
}  
ul.gamemenu{
	list-style:none; 
	border:0px solid #000;
	padding:0;
    z-index:1000000;
}
ul.gamemenu li{
  float: left;
}
ul.gamemenu li a {
	background-color:#910000;
	color:#ffffff;
	border-bottom:2px solid #7D0000;
	border-right:2px solid #7D0000;
	border-left:1px solid #620000;
	display:block;
	padding:16px 7px;
	text-decoration:none;
	font-size:0.9em;
}
ul.gamemenu li a:hover {
	background-color:#880000;
}



/*
	headers
*/
h1 {
	color:#ffffff;
	font-size:2.8em;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}
h2 {
	color:#4A0000;
	font-weight:normal;
	padding:0;
	margin:-10px 0 0 0;
}

h3 {
	font-size:1.4em;
	color:#7F0000;
	font-weight:normal;
}



/*
	links
*/
a {
	color:#910000;
}
a:hover {
	color:#880000;
}
div#sidebar ul li a.selected, div#sidebar ul li a.selected:hover {
	background-color:#ffffff;
	border-left:none;
	border-right:none;
	font-weight:bold;
	color:#910000;
}



/*
	paragraphs
*/
p {
	font-size:0.9em;
	color:#333333;
	line-height:2.05em;
	padding-bottom:20px;
}



/*
	footer
*/
div#footer {
	padding:10px 0;
	border-left:6px solid #414141;
	border-right:6px solid #414141;
	border-bottom:6px solid #414141;	   
    box-shadow:10px 10px 5px #1f1f1f;	
	background-color:#AE0000;
}
div#footer p {
	text-align:center;
	margin:0;
	padding:0;
}
div#footer p, div#footer a {
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
}



/*
	forms, labels, inputs
*/
input.button {
	font-weight:bold;
	padding:5px 15px;
}
input, textarea {
	padding:5px;
	background-color:#ffffff;
	border:1px solid #dddddd;
}
label {
	font-weight:bold;
}
form input.formbutton {
	background-color:#950303;
	color:#FFFFFF;
	font-weight:bold;
	padding:5px 10px;
}



/*
	tabbles
*/
table {
	width:100%;
	font-size:0.85em;
}
table tr th {
	color:#ffffff;
	background-color:#333333;
}
table tr th, table tr td {
	padding:5px 10px;
	text-align:left;
}
table tr td {
	border-bottom:1px solid #dddddd;
}



/*
	lists
*/
div.sidebar ul {
	list-style:none;
	padding:0;
	border-top:4px solid #dddddd;
	margin:0 0 20px 0; 
}
ul {
	margin:0 0 20px 20px;
	padding:0;
	list-style:square;
}
ul li {
	padding:3px 0;
}



/*
	miscs
*/
code {
	border:1px solid #cccccc;
	background-color:#dddddd;
	color:#333333;
	display:block;
	padding:10px 5px;
	margin:10px 0;
}
.clear {
	clear:both; 
}
.right { 
	float:right; 
}
.left  {
	float:left;  
}
*:focus {
	outline:none;
}
.hand {
    margin:0 auto;
    padding:20px;
}
.playerhand {
    margin: 0 auto;
    margin-top:100px;
}
.messages {
    border:0px groove #CC0000;
	color: white;
	font-size: 30px;

}
#chip_pile {
  border:1px solid #000;
  width: 758px;
  height: 95px;
  position:absolute;
  top:350px;
  left:130px;

}
#chips {
  position:absolute;
  top:695px;
  left:45px;
}
#left_column{
  width: 20%;
  float: left;
  border: 1px solid red;
}
#right_column{
  width: 30%;
  float: right;
  border: 1px solid red;
}    
